@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');

/* Animations */
@keyframes rotate{
     from{
          transform: rotateY(0deg);
     }
     to{
          transform: rotateY(360deg);
     }
}

@keyframes changecolor {
     0%{
          background: linear-gradient(60deg, #deeef3, #15262b);
          color: #000000;
     }
     50%{
          background: linear-gradient(60deg, #deeef3, #15262b,#deeef3);
          color: brown;
     }

     100%{
          background: linear-gradient(60deg, #15262b,#deeef3);
          color: black;
     }
}


@keyframes textMover{
     0%{
          left:-100%;
     }
     10%{
          left: 0%;
     }

     20%{
          left:0%;
     }
     40%{
          left:100%;
     }
     100%{
          left: 100%;
     }
}

@keyframes moveSlide{
     0%{
          left: 0%;
     }
     25%{
          left: 0%;
     }
     30%{
          left: -101%;
     }
     55%{
          left: -101%;
     }
     70%{
          left:-201%
     }
     99.9%{
          left: -201%;
     }
     100%{
          left:-302%;
     }
}

@keyframes changeBack_1 {
     0%{
          background-image: url('./assets/carImages/home_4.jpg');
     }
     30%{
          background-image: url('./assets/carImages/home_4.jpg');
     }
     35%{
          background-image: url('./assets/carImages/Home_1.jpg');
     }
     65%{
          background-image: url('./assets/carImages/Home_1.jpg');
     }
     70%{
          background-image: url('./assets/carImages/truck_2.png');
     }
     95%{
          background-image: url('./assets/carImages/truck_2.png');
     }
     100%{
          background-image: url('./assets/carImages/home_4.jpg');
     }

}

*{
     box-sizing: border-box;
     border: 0px solid ;
     font-family: 'Bona Nova', serif;
     font-family: 'Mukta', sans-serif;
  
}




:root{
     font-size: 20px;
}

a{
     text-decoration: none !important ;
}

body{
     width: 100vw;
     padding: 0;
     margin: 0;
     overflow-x: hidden;
     position: relative;
}

#root{
     width:100%;
     position: relative;
}
/* Styling the header*/

.Header{
     position: sticky;
     box-sizing: border-box;
     top:0;
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     z-index:1500;
     background:white;
     overflow: hidden;
}

.Header__row, .Footer_row{
     margin: 0;
     padding: 0;
     width: clamp(360px, 70%, 1400px);
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
}

.Header  .social-container{
     padding: 5px 0 0;
     width: clamp(220px, 7.5%, 300px);
     max-height: 40px;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-evenly;
     background: rgb(239, 241, 241);
     border-radius: 1.2rem;
}

.Header  .social-container i{
     font-size: 23px;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     transition: all 0.2s;
}

.Header  .social-container i:hover a{
     transform: scale(1.2);
}
.Header  .social-container .fb a{
     color: #003c80;
     transition: all 0.2s;
}

.Header  .social-container .twitter a{
     color: 	#1DA1F2;
     transition: all 0.2s;
}

.Header  .social-container .ig a{
     color: #5851DB;
     font-size: 25px;
     transition: all 0.2s;
}

.Header  .social-container .whatsapp a{
     color:#28D146;
     transition: all 0.2s;
}

.logo_container, .signIn_container{
     width: clamp(150px, 20%, 300px);
     display: flex;
     flex-direction: row;
     align-items: center;
     padding: 2px 2.5px;
}

.signIn_container button{
     width: clamp(120px, 60%, 200px);
     aspect-ratio: 100/25;
     font-size: 0.8rem;
     font-weight:500;
     background: rgb(255, 255, 255);
     border: 1px solid rgb(228, 222, 222);
     border-radius: 5px;
     transition: all 1s;
     background: #003c80;
     color: white;
}

.signIn_container{
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
     align-items: center;
}

.signIn_container button:hover{
     cursor: pointer;
     background: white;
     color: #031c2b;
     border: 1.5px solid #003c80;
}

.logo_container img{
     width: clamp(60px, 25%, 200px);
}

.divider_line{
     width: 100%;
     border-bottom:1px solid rgb(202, 189, 189);
}

.Header__row ul{
     width: 100%;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-around;
     border: 1px solid #d1c9c9;
     list-style-type: none;
     font-size: 0.8rem;
     font-weight: 600;
     color:#212b35;
     border-radius: 5px;
     padding: 4px;
     letter-spacing: 0.5px;
     flex-wrap: wrap;
     transition: all 0.5s;
}

.Header__row ul a{
     color:#212b35;
}
.Header__row ul li{
     transition: all 0.5s;
}
.Header__row ul li:hover{
     color: #062a4e;
     cursor: pointer;
     background: #003c80;
     color: white;
     padding: 0 10px;
     border-radius: 5px;
}

.Header__row ul li:hover a{
     color:white;
}

.Footer{
     width: 100%;
     background: #eefbff;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}


/* Styling the footer*/

.Footer_row{
     align-items: flex-start;
     flex-wrap: wrap;
     justify-content: space-around;
     padding: 20px 0;
}

.Footer_row .col{
     width: clamp(150px, 20%, 300px);
}

.Footer_row .col h3{
     font-size: 0.95rem;
     font-weight: 600;
     width: 100%;
}

.Footer_row .col ul{
     list-style: none;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     margin: 0;
     padding: 0 10px;
}

.Footer_row .col ul li{
     width: 100%;
     font-size: 0.8rem;
     margin: 5px 0;
}

.Footer_row .col ul li a{
     color: #0c132b;
     font-weight: bold;
     text-decoration: underline;
}

.Footer_row .col ul li:hover{
     cursor: pointer;
}

.Footer_row .col ul .phone-container{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: left;
     padding: 0;
}

.Footer_row .col ul li .phone{
     color: green;
     font-size: 1.2rem;
     margin: 0 5px  0 0;
}

.Footer_down{
     justify-content: space-between;
}

.Footer_down .col{
     width: clamp(190px, 45%, 500px);
}

.Footer_down .col img{
     width: 40%;
}

.Footer_down .col p{
     font-size: 0.85rem;
}

.Footer p{
     text-align: center;
     font-size: 0.85rem;
}

.chat-box{
     position: fixed;
     width: 400px;
     display: flex;
     flex-direction: column;
     /*top: 50%; */
     bottom: 1%;
     right: 0.5%;
     border-radius: 10px;
     z-index: 999;
     box-shadow: 1px 1px 10px gray;
     display: none;
     transition: all 1s;
}

.chat-box .chat-box-header{
     width: 100%;
     position: relative;
     top: 0;
     background: #003c80;
     color: white;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-evenly;
     height: 40px;

}

.chat-box .chat-box-header h3{
     width: 80%;
     text-align: center;
     font-size: 20px;
}

.chat-box .chat-box-header button{
     width: 7%;
     font-size: 25px;
     padding: 0;
     aspect-ratio: 1/1;
     display: flex;
     align-items: center;
     justify-content: center;
     color: white;
     background: transparent;
     border-radius: 50%;
}

.chat-box .chat-box-header button:hover{
     background: rgb(182, 240, 255);
     color: #003c80;
     cursor: pointer;
}

.chat-box .chat-area{
     width: 100%;
     background: white;
     display: flex;
     flex-direction: column;
     aspect-ratio: 100/80;
     overflow-y: scroll;
     overflow-x: hidden;
     color: #001724;
     position: relative;
     padding: 10px;
     -ms-overflow-style: none;
     scrollbar-width: none;
}

.chat-box .chat-area::-webkit-scrollbar{
     display: none;
}

.chat-box .chat-area .client-message{
     position: relative;
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: right;
     align-items: center;
     padding: 0;
     margin: 2px 0;

}

.chat-box .chat-area .client-message p{
     background: #003c80;
     color: white;
     padding: 0 5px;
     border-radius:5px 0 5px 5px;
     font-size: 18px;
     margin: 0;
}


.chat-box .chat-area .support-message{
     position: relative;
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: left;
     align-items: center;
     padding: 0;
     margin: 2px 0;

}

.chat-box .chat-area .support-message p{
     background: rgb(178, 184, 192);
     color: #003c80;
     padding: 0 5px;
     border-radius:0px 5px 5px 5px;
     font-size: 18px;
     margin: 0;
}

.chat-box .input-container{
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     background: #003c80;

     padding: 10px;

}

.chat-box .input-container input{
     width: 80%;
     padding: 5px;
     font-size: 18px;
     box-shadow:1px 1px 10px #003c80;
     z-index: 1;
     border-radius: 5px;
     outline: none;
}

.chat-box .input-container input:active{
     outline: none;
     border: none;
}
.chat-box .input-container button{
     width: 15%;
     padding: 5px;
     font-size: 18px;
     border-radius: 5px;
     display: flex;
     align-items: center;
     justify-content: center;
     color: #003c80;
}

.chat-box .input-container button:hover{
     cursor: pointer;
     font-weight: 600;
}

.Footer .chat-icon{
     position: fixed;
     bottom: 5%;
     right: 0;
     width: 120px;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     z-index: 1200;
     background-color: transparent;
     color: #003c80;
     font-size: 60px;
     transition: all 1s ;
}

.Footer .chat-icon:hover{
     cursor: pointer;
     color: #007180;
}

/*Styling the components */
.get-Started{
     width: clamp(380px,70%, 1600px);
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     background-color: #eff4f5;
     flex-wrap: wrap;
     border-radius: 10px;
     padding: 0;
     margin-top: 20px;
     box-shadow: 1px 1px 5px #003c8070;
}

.get-Started .col_1{
     position: relative;
     width: clamp(100px,10%, 400px);
     background-color: #a7afb17c;
     height: 100%;
     margin: 0;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-end;
     height: 100px;
     border-radius: 5px 0 0 5px;
}

.get-Started .col_1 h4{
     font-size: 2.5rem;
     width: 100%;
     margin: 0;
     position: absolute;
     top: 5%;
     left: 5%;
     color: #0d6385;
     z-index: 0;
}

.get-Started .col_1 p{
     font-size: 0.8rem;
     z-index: 1;
     margin: 0;
     color: #003c80;
     font-weight: bold;
}

.get-Started .col_2{
     width: clamp(200px, 80%, 1000px );
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: center;

}

.get-Started .col_2 h2{
     margin: 0;
     font-size: 0.9rem;
}

.get-Started .col_2 p{
     font-size: 0.8rem;
     letter-spacing: 0.7px;
     margin: 0;
}

.get-Started .col_3{
     width: clamp(150px, 10%, 400px);
}

.get-Started .col_3 button{
     width: 80%;
     font-size: 16px;
     padding: 5px 0;
     font-weight: bold;
     color: #eaeff0;
     letter-spacing: 0.45px;
     background-color: #003c80;
     border-radius: 5px;
     transition: all 0.3s;
}

.get-Started .col_3 button:hover{
     cursor: pointer;
     background-color: #eaeff0;
     color: #003c80;
     border: 1px solid #003c80;

}

/* Styling the home page */


.Home_page{
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content:center ;
     padding: 20px 0;

}

.Home_page .Hello_sec-container{
     width: 100%;
     position: relative;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;

}

.Home_page .Hello_sec{
     position: relative;
     top: 0;
     width: clamp(400px, 70%, 1400px);
     aspect-ratio: 100/30;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     border-radius: 10px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content:center ;
     box-shadow: 1px 1px 5px rgb(26, 108, 175);
}

.Home_page .Hello_sec .Hello_overlay{
     position: absolute;
     top: 0;
     width: 100%;
     aspect-ratio: 100/30;
     background-color: #050a1485;
     border-radius:10px;
     z-index: 0;
}

.Home_page .Hello_sec .intro_text, .Home_page .Hello_sec .search_container{
     z-index: 1;
}

.Home_page .Hello_sec .intro_text{
     position: relative;
     color: white;
     font-size: 1.1rem;
     font-weight: 500;
     letter-spacing: 0.6px;
     text-shadow: 1px 2px black;
     overflow-x: hidden;
     width: 60%;
     aspect-ratio: 100/7;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     padding: 0;
     overflow: hidden;
}

.Home_page .Hello_sec .intro_text h3{
     position: absolute;
     top:0;
     margin: 0;
     width: 100%;
}
.Home_page .Hello_sec .intro_text .h3_1{
     left: 0%;
     animation:  25s textMover infinite;
}

.Home_page .Hello_sec .intro_text .h3_2{
     left: -100%;
     animation:  25s textMover 7.5s infinite;
}

.Home_page .Hello_sec .intro_text .h3_3{
     left: -100%;
     animation:  25s textMover 15s infinite;
}

.Home_page .Hello_sec .search_container{
     width: clamp(390px, 70%, 1200px);
     background: #050b0f83;
     border-radius: 10px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding: 10px 0;
}

.search_container .search_list{
     width: 95%;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: left;
     color: white;
}

.search_container .search_list h3{
     font-size: 0.9rem;
     width: 25%;
     letter-spacing: 0.95px;
}

.search_container .search_list ul{
     list-style: none;
     padding: 0;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-evenly;
     width: clamp(350px, 60%, 1000px);
     font-size: 0.75rem;
     font-weight: 600;
     letter-spacing: 0.85px;
}

.search_container .search_list ul li{
     transition: all 0.5s ;
}

.search_container .search_list ul li:hover{
     padding: 0 10px;
     border-bottom: 2px solid #003c80;
     
}

.search_container .search_list ul a{
     color: white;
}

.search_container .search_form{
     width: 95%;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
}

.search_container .search_form input{
     width: 80%;
     padding: 5px 20px;
     border-radius:  5px;
     font-size: 1rem;
     caret-color: #003c80;
     line-height: 15px;
     outline: none;
}

.search_container .search_form input:active{
     outline: none;
}
.search_container .search_form button{
     width: 15%;
     font-size: 1.1rem;
     padding: 5px 5px;
     border-radius: 5px;
     background: #003c80;
     color: white;
     transition: all 0.5s;
}

.Home_page .categories{
     width: clamp(380px, 70%, 1600px);
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin: 20px 0 0;
}

.Home_page .categories h3{
     width: 100%;
     font-size: 1.3rem;
     font-weight: bold;
     margin: 0;
     color: #003c80;
}

.Home_page .categories .row{
     width: 100%;
     display: flex;
     flex-direction: row;
     align-items: flex-start;
     justify-content: space-evenly;
     flex-wrap: wrap;
}

.Home_page .categories .row .col{
     width: clamp(170px, 19%, 350px);
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;
}

.Home_page .categories .row .col .title{
     width: 100%;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: left;
     color: #003c80;
     font-size: 1.2rem;
}

.Home_page .categories .row .col .title i{
     margin-right: 5px;
}

.Home_page .categories .row .col .title h4{
     color: #001724;
     font-size: 0.9rem;
     margin: 0;
}

.Home_page .categories .row .col .title img{
     width: 30px;
     margin-right: 5px;
}

.Home_page .categories .row .col .list{
     width: 85%;
     margin: auto;
     display: flex;
     flex-direction: column;
}

.Home_page .categories .row .col .list a{
     font-size: 16px;
     color: #001724;
     transition: all 0.5s;
     display: flex;
     align-items: center;
}

.Home_page .categories .row .col .list a:hover{
     color: #003c80;
     text-decoration: underline;
     font-weight: bold;
}

.Home_page .categories .row .col .list a img{
     width: 20px;
     margin-right: 5px;
}

.search_container .search_form button:hover{
     cursor: pointer;
     background: #003c8093;
}


.Home_page .about_sec{
     width: clamp(400px, 70%, 1400px);
     position: relative;
     padding: 0;
}

.Home_page .about_sec .about_para{
     width: 100%;
     padding: 0;
}

.Home_page .about_sec .back_text{
     width: 100%;
     position: relative;
     margin: 0;
     padding: 0;
}

.Home_page .about_sec .back_text h2{
     position: relative;
     z-index: 0;
     color: #e3f6fc;
     font-size: 6rem;
     margin: 0;
}

.Home_page .about_sec .back_text h4{
     font-size: 2rem;
     text-align: left;
     width: 100%;
     padding: 10px 0;
     border-radius: 10px;
     position: absolute;
     z-index: 5;
     top: 5%;
     left: 5%;
     color: #031a35;
}


.Home_page .about_sec .about_para .ul{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     list-style: none;
     width: 100%;
     flex-wrap: wrap;
}

.Home_page .about_sec .about_para .ul .col{
     width: clamp(380px, 25%, 500px);
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     box-shadow: 1px 1px 10px rgb(211, 209, 209);
     overflow: hidden;
     border-radius: 10px;
}

.Home_page .about_sec .about_para .ul .col .row{
     width: 100%;
}

.Home_page .about_sec .about_para .ul .col .img{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     padding: 10px 0 0 ;
}

.Home_page .about_sec .about_para .ul .col .row img{
     width: 95%;
     margin: auto;
     aspect-ratio: 100/60;
     box-shadow: 2px 1px 5px #afaaaa;
     transition: all 1s;
     border-radius: 5px;
}

.Home_page .about_sec .about_para .ul .col .text{
     padding: 10px;
}
.Home_page .about_sec .about_para .ul .col .row h5{
     font-size: 0.8rem;
     font-weight: 600;
     margin: 0;
     text-align: center;
     background: #003c80;
     color: white;
     border-radius: 5px;
}

.Home_page .about_sec .about_para .ul .col .row p{
     font-size: 0.7rem;
     color: #2e2d2d;
}

.Home_page .about_sec .about_para .ul .col img{
     width: 90%;
}

.Home_page .about_sec .about_para .ul .col img:hover{
     cursor: pointer;
     box-shadow: none;
}

.Home_page .about_sec .about_para .more-sec{
     width: clamp(300px, 100%, 1600px);
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: right;
     padding: 20px 20px 0;
}

.Home_page .about_sec .about_para .more-sec a{
     color: #003c80;
     font-size: 1.1rem;
     width: clamp(250px, 30%, 400px);
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: right;
     font-weight: bold;
}

.Home_page .about_sec .about_para .more-sec a i{
     width: 10%;
     aspect-ratio: 1/1;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     background: #003c80;
     color: white;
     margin: 0 0 0 5px;
     border-radius: 50%;
     transition: all 0.5s;
}

.Home_page .about_sec .about_para .more-sec a i:hover{
     background-color: white;
     color: #003c80;
     width: 12%;
     font-size: 1.3rem;
}


.company_sec{
     position: relative;
     width: 100%;
     box-shadow: 1px 1px 3px #815e5e;
     padding: 0px;
     margin: 0px 0;
     display: flex;
     overflow-x: hidden;
     overflow-y: hidden;
     animation: 20s changeBack_1 infinite;
     background-size: 100%;
     background-repeat: no-repeat;
     background-position: center;
     background-attachment: fixed;

}

.company_sec .slide-container{
     position: relative;
     width: 300vw;
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     box-sizing: content-box;
     transition: all 1s;
     animation: 20s moveSlide infinite;
}

.company_sec .slide-container .slide{
     width: 100vw;
     position: relative;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     margin:0;
     transition: all 1s;
     background-repeat: no-repeat;
     background-size: 100%;
     background-position: center;
}

.company_sec .slide_1{
     color: #c3e4f1;
}

.company_sec .slide_2{
     color: #c3e4f1;
}

.company_sec .slide_3{
     color: #c3e4f1;
}


.company_sec .slide .text{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 100%;
     width: 100%;
     padding: 5% 10% 17%;
     background: linear-gradient(180deg, #00172488, black);
}

.company_sec .slide  .text h5{
     font-size: 1.5rem;
     width: clamp(370px, 60%, 1000px);
     text-align: center;
     margin: 0;
}
.company_sec .slide_1 .text h5 span{
     font-size: 2.7rem;
     line-height: 40px;
}

.company_sec .slide .text p{
     text-align: center;
     font-size: 0.9rem;
     width: clamp(350px, 60%, 800px);
     margin: auto;
}

.company_sec .slide .images img{
     width: 100%;
     border-radius: 10px;
     aspect-ratio: 100/70;
     box-shadow: 1px 1px 10px #271717;
}

.country_sec{
     position: relative;
     width: clamp(390px, 70%, 1400px);
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     overflow: hidden;
     background: #001724;
     background-repeat: no-repeat;
     background-position: center;
     margin: 30px 0;
     color: white;
     background-size: 100%;
     padding: 30px 0;
}

.country_sec .cover{
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     background: #05213169;
     z-index: 0;
}

.country_sec h4{
     width: 80%;
     z-index: 1;
}

.country_sec .ul{
     z-index: 1;
     width: 80%;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     align-items: center;
     justify-content:center ;
     list-style: none;
}

.country_sec .ul .col{
     position: relative;
     width: clamp(150px, 18%, 300px);
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-evenly;
     transition: all 1s;
}

.country_sec .ul .col:hover{
     cursor: pointer;
     transform: scale(1.2);
}

.country_sec .ul .col:hover li{
     position: absolute;
     cursor: pointer;
     top:50%;
}

.country_sec .ul .col img{
     width: 80%;
     aspect-ratio: 1/1;
     border-radius: 50%;
     box-shadow: 1px 1px 10px gray;
}

.country_sec .ul .col li{
     position: relative;
     font-size: 0.8rem;
     font-weight: 600;
     background: #003c8073;
     margin: 5px 0;
     padding:0 10px;
     transition: all 0.5s;
}

.country_sec .contact-sec{
     width: 100%;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     z-index: 1;
}


.country_sec .contact-sec a{
     width: clamp(100px, 10%, 150px);
     background-color: white;
     color:#003c80;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 1rem;
     font-weight: bold;
     border-radius: 10px;
     margin: 10px 0 0;
     transition: all 1s;
     padding:  5px 0;
}

.country_sec .contact-sec a:hover{
     width: 12%;
     font-size: 1.1rem;
     cursor: pointer;
}

.trucks_sec{
     width: clamp(390px, 70%, 1400px);
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-evenly;
     flex-wrap: wrap;
}

.trucks_sec .title{
     font-size: 16px;
     width: clamp(390px, 40%, 800px);
     display: flex;
     flex-direction: row;
     align-items: center;
     margin: 20px 0;
}

.trucks_sec .title h3{
     width: 70%;
     padding: 2px;
}
.trucks_sec .title i{
     width: clamp(70px, 10%, 200px);
     border: 1px solid #003c80;
     aspect-ratio: 1/1;
     color: #003c80;
     display: flex;
     flex-direction: center;
     align-items: center;
     justify-content: center;
     font-size: 30px;
     border-radius: 50%;
     transition: all 1s;
     font-weight: bold;
}

.trucks_sec .title i:hover{
     background: #003c80;
     color: white;
     cursor: pointer;
}

/*Styling the Contact us page*/

.Contact{
     width: clamp(390px, 70%, 1400px);
     margin: auto;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     align-items: flex-start;
     justify-content: space-between;
     padding: 20px 0;
}

.Contact .Col{
     width: clamp(350px, 25%, 600px);
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     box-shadow: 1px 1px 10px gray;
     margin: 20px 0;
}

.Contact .Col .header{
     width: 100%;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: left;
     background-color: rgb(252, 252, 252);
     padding: 0;
     padding: 10px 0;
}

.Contact .Col .header i{
     width: 15%;
     aspect-ratio: 1/1;
     font-size: 1.6rem;
     display: flex;
     align-items: center;
     justify-content: center;
     color: rgb(46, 67, 85);
}

.Contact .Col .header h3{
     padding: 0;
     color: rgb(46, 67, 85);
     margin: 0;
}

.Contact .Col .body{
     width: 100%;
     padding: 20px 20px;
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: rgb(235, 237, 243);
}

.Contact .Col .body h5{
     width: 100%;
     margin: 0;
     font-size: 1rem;
}

.Contact .Col .body h5 a{
     color: #2d5486;
}

.Contact .Col .body h5 a .wa-icon{
     color: rgb(2, 143, 21);
     font-weight: 600;
     font-size: 1.6rem;
}

.Contact .Col .body p{
     width: 100%;
     font-size: 0.9rem;
     line-height: 30px;
     margin: 5px;
}

.Contact .Col .body .list{
     width: 100%;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     border-bottom: 1px solid rgb(146, 186, 224);
}
.Contact .Col .body .list h6{
     font-size: 0.8rem;
     width: 50%;
     margin: 0;
}

.Contact .Col .body .list p{
     width: 30%;
}

.Contact .Col .body p a{
     color: #001724;
}

.Contact .Col .Hours{
     width: 100%;
     padding: 0 20px;
}

.Contact .Col .Hours h3{
     font-size: 1.1rem;
     color: #001724;
     margin: 5px 0;
}

.Contact .Col .Hours ul{
     width: 100%;
     margin: 0;
     padding: 0;
}


.Contact .Col .Hours ul li{
     list-style: none;
     width: 100%;
     margin: 0;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     font-weight: 600;
     font-size: 0.85rem;
     color: #003c80;
}

/*Search page */

.search{
     width: clamp(380px, 70%, 1600px);
     margin: auto;
}

.activeSearch{
     background: #003c80;
}
@media (max-width: 1200px){
     :root{
          font-size: 18px;
     }
     .Home_page .Hello_sec, .Home_page .Hello_sec .Hello_overlay{
          aspect-ratio: 100/50;
          border-radius: 10px;
     }
     .company_sec .slide .text p{
          display: none;
     }
     
}

@media (max-width: 768px){
     :root{
          font-size: 14px;
     }
     .Home_page .Hello_sec, .Home_page .Hello_sec .Hello_overlay{
          aspect-ratio: 100/70;
          border-radius: 10px;
     }
     .Home_page .Hello_sec .intro_text{
          aspect-ratio: 100/20;
          width: 80%;
     }
     .company_sec .slide .text p{
          display: none;
     }

     .company_sec .slide .text h5,  .company_sec .slide .text h5 span{
          font-size: 1.5rem;
     }

     .company_sec .slide .text{
          padding: 5% 0 40%;
     }

     .Home_page .about_sec .back_text h2{
          font-size:4rem;
     }

     .Home_page .about_sec .back_text h4 {
          top: 0%;
     }
     .company_sec {
          background-position: top;
     }

     
}

.rotate_globe{
     color: blue;
     font-size: 50px;
     animation:2s rotate infinite;
}